.category {
  width: 375px;
  background-color: var(--color-utility-white);
  box-shadow: 0px 1px 2px 0px rgba(31, 31, 31, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.category-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-p-5) 12px;
  box-sizing: border-box;
  width: 100%;
}

