.infinite-scroll {
  width: 375px;
  min-height: 12132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: var(--color-utility-white);
}

