.tab-navigation-menu {
  width: 375px;
  height: 44px;
  background-color: var(--color-utility-white);
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  flex-shrink: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.tab-navigation-menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.tab-navigation-content {
  position: absolute;
  display: flex;
  height: 44px;
  align-items: center;
  left: 0;
  top: 0;
}

.tab-button {
  background-color: var(--color-utility-white);
  border-bottom: var(--border-width-1px) solid var(--color-opacity-nola-dark-10);
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 0;
  cursor: pointer;
  flex-shrink: 0;
}

.tab-button:first-child {
  padding-left: 16px;
  padding-right: 12px;
}

.tab-button p {
  font-family: 'ChickenSans', sans-serif;
  line-height: 18px;
  color: var(--color-utility-nola-dark);
  text-align: center;
  white-space: nowrap;
}

.tab-button.active p {
  font-weight: 700;
  font-size: 14px;
}

.tab-button:not(.active) p {
  font-weight: 400;
  font-size: 14px;
}

.tab-indicator {
  height: 3px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--color-primary-burnt-orange);
  opacity: 0;
  width: 0;
  transition: opacity 0.2s, width 0.2s;
}

.tab-indicator.active {
  opacity: 1;
  width: 100%;
}

