.top-view {
  width: 100%;
  max-width: 480px;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-utility-white);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .top-view {
    width: 100%;
  }
}

